
<div id = "notifications-form"
<%= bootstrap_form_for(@notification) do |f| %>
      <%= f.text_field :name %>
      <%= f.text_field :zip_code %>
      <%= f.text_field :email %>
      <%= f.text_field :phone_number %>
      <%= f.submit %>
  <% end %>
</div>
