
<div id = "notifications-form">
<%= bootstrap_form_for(@notification, remote: true) do |f| %>
      <%= f.text_field :name %>
      <%= f.text_field :zip_code %>
      <%= f.text_field :email %>
      <%= f.text_field :phone_number %>
      <%= f.collection_check_boxes(:condition_ids, Condition.all, :id, :name) %>
      <%= f.submit %>
  <% end %>
</div>
