<h3> Your Notifications <h3>

<div id="notifications-index">
<table class="table table-hover table-bordered table-condensed">
  <th> Name </th>
  <th> Email </th>
  <th> Phone Number </th>
  <th> Zip Code </th>
  <th> Health Concerns </th>
  <th> Update </th>
  <% @notifications.each do |notification| %>
  <tr>
    <td> <%= notification.name %> </td>
    <td> <%= notification.email %> </td>
    <td> <%= notification.phone_number %> </td>
    <td> <%= notification.zip_code %> </td>
    <td> <%= notification.clean_conditions %></td>
    <td>
      <%= form_tag notification_path(notification), method: :delete do %>
      <%= button_tag(:class => "btn btn-success btn-sm", :id => "new-notification-button") do %>
      Delete
      <% end %>
      <% end %>
      <%= form_tag edit_notification_path(notification), method: :get do %>
      <%= button_tag(:class => "btn btn-success btn-sm", :id => "new-notification-button") do %>
      Edit
      <% end %>
      <% end %>
    </td>
  </tr>
  <% end %>
</table>

<%= form_tag new_notification_path, method: :get do %>
<%= button_tag(:class => "btn btn-info btn-sm", :id => "new-notification-button") do %>
   Create a New Notification
  <% end %>
<% end %>
</div>
