
  <h3> Nearest Reporting Location: <%= @report.reporting_area %> </h3>
  <p id="subscript"> (Conditions Reported My Vary By Location) </p>
  <strong> Current Reported Conditions </strong>
  <% if @report.observed_contaminates_and_levels.empty? %>
  <p> No observations have been reported </p>
  <%  else %>
  <% @report.observed_contaminates_and_levels.each do |contaminate, level| %>
  <p>   <%= contaminate %> = <%= level %> </p>
  <% end %>
  <% end %>
  <strong> Forecast Conditions For Tomorrow </strong>
  <% if @report.forecasted_contaminates_and_levels.empty? %>
  <p> No forecast has been reported for this area </p>
  <%  else %>
  <%  @report.forecasted_contaminates_and_levels.each do |contaminate, level| %>
  <p><%= contaminate %> = <%= level %> </p>
  <% end %>
  <% end %>
  <div>
    <button type="button" class="btn btn-sm btn-danger" data-toggle="popover" title="Particulate Abbreviations" data-html="true"
    data-content= "<p> O3 - Ozone </br> P2.5 - Small Particulate</br> P10 - Large Particulate</br>CO - Carbon Monixide</p>" >What do these mean?  </button>
  </div>
  <h3 id="warnings"> Warnings </h3>
  <p> Health Concerns:  <%= @report.clean_checked_concerns%>


  </p>
  <strong>Today </strong>
  <%  if @report.health_effects?("today") == true
    outcome = "likely"
  else
    outcome = "unlikely"
  end %>
  <p> Health effects as a result of air quality are <%= outcome %>.   </p>
    <strong> Tomorrow </strong>
    <%  if @report.health_effects?("tomorrow") == true
      outcome = "likely"
    else
      outcome = "unlikely"
    end %>
    <p> Health effects as a result of air quality are <%= outcome %>. <p>


    <script charset="utf-8">
    $(function () {
      $('[data-toggle="popover"]').popover()
    })
    </script>
