<div class = "container-fluid">
  <div class = "row">
    <div class="col-xs-1 col-sm-1 col-md-1 col-lg-2">
    </div>
    <div class="col-xs-11 col-sm-4 col-md-4 col-lg-3">
      <div id="create_reports_form">
        <p> Enter a zip code and any relevant health conditions to get an air quality report.</p>
        <%= render 'form' %>
      </div>
    </div>


  <% if @report.valid? %>
    <div id="report" class="col-xs-8 col-sm-6 col-md-5 col-lg-5">
      <h3> <%= @report.reporting_area %> Is The Nearest Reporting Location For Your Zip Code </h3>
      <strong> Current Reported Conditions </strong>
        <% if @report.observed_contaminates_and_levels.empty? %>
          <p> No observations have been reported </p>
        <%  else %>
         <% @report.observed_contaminates_and_levels.each do |contaminate, level| %>
        <p>   <%= contaminate %> = <%= level %> </p>
          <% end %>
        <% end %>
      <strong> Forecast Conditions For Tomorrow </strong>
        <% if @report.forecasted_contaminates_and_levels.empty? %>
          <p> No forecast has been reported for this area </p>
        <%  else %>
          <%  @report.forecasted_contaminates_and_levels.each do |contaminate, level| %>
            <p><%= contaminate %> = <%= level %> </p>
          <% end %>
        <% end %>
      <h3> Your Warnings </h3>
      <p> Based on the information provided by reporting agencies in your area and these health
        concerns:  <%= @report.clean_checked_concerns%>


      </p>
      <strong>Today </strong>
      <%  if @report.health_effects?("today") == true
            outcome = "likely"
          else
            outcome = "unlikely"
          end %>
      <p> You are <%= outcome %> to experience health effects as a result of air quality. <p>
      <strong> Tomorrow </strong>
      <%  if @report.health_effects?("tomorrow") == true
            outcome = "likely"
          else
            outcome = "unlikely"
          end %>
      <p> You are <%= outcome %> to experience health effects as a result of air quality. <p>
    </div>
    <% end %>
  </div>
</div>
