<div class = ".container-fluid">
  <div class = "row">
    <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
    </div>
    <div class="col-xs-11 col-sm-4 col-md-3 col-lg-3">
      <div id="reports_form">
      <%= bootstrap_form_tag url: reports_path do |f| %>
        <div id="zip-code">
          <%= f.text_field :zip_code %>
        </div>
        <%= f.form_group :skill_level, label: { text: "Health Concern Categories" }, help: "Select Categories That Apply to You" do %>
          <%= f.check_box :lung_disease, label: "Asthma or other Lung Disease" %>
          <%= f.check_box :heart_disease, label: "Heart Disease" %>
          <%= f.check_box :children, label: "Children (with no specific health concern)" %>
          <%= f.check_box :older_adult, label: "Older Adults (with no specific health concern)" %>
          <%= f.check_box :active_outdoors, label: "Active Outdoors (with no specific health concern)" %>
          <%= f.check_box :general_population, label: "General Population (with no specific health concern)" %>
        <% end %>
        <%= f.submit "Submit", class: "btn btn-success" %>
      <% end %>
    </br>
      <div>
        <% if current_user %>
            <%= form_tag reports_path, method: :get do %>
            <%= button_tag(:class => "btn btn-info btn-sm notifications-btn") do %>
               Create Notifications
              <% end %>
          <% end %>
        <% else %>
          <button type="button" class="btn btn-sm btn-info notifications-btn" data-toggle="popover" data-content="You must be logged in to create notifications.">Create Notifications</button>
        <% end %>
      </div>
      <br>
      <div>
        <% if current_user %>
            <%= form_tag reports_path, method: :get do %>
            <%= button_tag(:class => "btn btn-info btn-sm historical-data-btn") do %>
               See Historical Data
              <% end %>
          <% end %>
        <% else %>
          <button type="button" class="btn btn-sm btn-info historical-data-btn" data-toggle="popover" data-content="You must be logged in to see historical data.">See Historical Data</button>
        <% end %>
      </div>
    </div>
  </div>
  <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
  </div>

    <div id="report" class="col-xs-8 col-sm-6 col-md-5 .col-lg-5">
      <h3> Air Quality Report For <%= @report.reporting_area %> </h3>
      <strong> Current Reported Conditions </strong>
        <% if @report.observed_contaminates_and_levels.empty? %>
          <p> No observations have been reported </p>
        <%  else %>
         <% @report.observed_contaminates_and_levels.each do |contaminate, level| %>
        <p>   <%= contaminate %> = <%= level %> </p>
          <% end %>
        <% end %>
      <strong> Forecast Conditions For Tomorrow </strong>
        <% if @report.forecasted_contaminates_and_levels.empty? %>
          <p> No forecast has been reported for this area </p>
        <%  else %>
          <%  @report.forecasted_contaminates_and_levels.each do |contaminate, level| %>
            <p><%= contaminate %> = <%= level %> </p>
          <% end %>
        <% end %>
      <h3> Your Warnings </h3>
      <p> Based on the information provided by reporting agencies in your area and these health
        concerns:
          <% concerns = @report.clean_checked_concerns%>
          <% concerns.each do |concern| %>
            <% if concern == concerns.last && concerns.count > 1 %>
              and <%= concern %>.
            <% elsif concerns.count > 1 %>
              <%= concern %>,
            <% else %>
              <%= concern %>.
            <% end %>
          <% end %>

      </p>
      <strong>Today </strong>
      <%  if @report.health_effects?("today") == true
            outcome = "likely"
          else
            outcome = "unlikely"
          end %>
      <p> You are <%= outcome %> to experience health effects as a result of air quality. <p>
      <strong> Tomorrow </strong>
      <%  if @report.health_effects?("tomorrow") == true
            outcome = "likely"
          else
            outcome = "unlikely"
          end %>
      <p> You are <%= outcome %> to experience health effects as a result of air quality. <p>
    </div>
  </div>
</div>
